---
import ToggleTheme from '../components/ToggleTheme.astro';
import { Icon } from "astro-icon/components";
import { Image } from 'astro:assets';

import projectsIcon from '/src/assets/images/projects.png';
import notesIcon from '/src/assets/images/notes.png';
import aboutIcon from '/src/assets/images/about-me.png';
---

<aside class = sidebar>
  <section class = sidebar-section>
    <div class = sidebar-toggles>
      <a href = {`${import.meta.env.BASE_URL}`} class = home-link>
        <h2> Leo Bartron </h2>
      </a>
      <ToggleTheme/>
    </div>
  </section>
  <section class = sidebar-section>
    <h4> About Me </h4>
    <div class = sidebar-content>
      <p>
        I'm a current student majoring in Computer Science and Software Engineering! 
      </p>
    </div>
  </section>
  <section class = sidebar-section>
    <nav class = sidebar-nav-links>
      <a href = {`${import.meta.env.BASE_URL}projects/`}>
        <Image src={projectsIcon} alt = "Projects image" class = "sidebar-nav-icon"/>
        Projects
      </a>
      <a href = {`${import.meta.env.BASE_URL}notes/`}>
        <Image src={notesIcon} alt = "Notes image"  class = "sidebar-nav-icon"/>
        Notes
      </a>
      <a href = {`${import.meta.env.BASE_URL}about/`}>
        <Image src={aboutIcon} alt = "About me image"  class = "sidebar-nav-icon"/>        
        About Me
      </a>
    </nav>
  </section>
  <section class = sidebar-section>
    <h4> Endorsements </h4>
    <p>
      He is the perfect fit for any work environment! 
      <span class = accent-text>-CEO of Awesome Company</span>
    </p>
    <p>
      This guy can write some great code. 
      <span class = accent-text>-My Dog</span>
    </p>
  </section>
  <section class = sidebar-section>
    <h4>Connect With Me</h4>
    <p class = sidebar-connection-links>
      <a href = "https://github.com/lbartron">
        GitHub
      </a>
      <a href = "https://www.linkedin.com/in/leo-bartron">
        LinkedIn
      </a>
    </p>
  </section>
</aside>


<style>
  .sidebar{
    width: 260px;
    flex-shrink: 0;
    top: 0;
    left: 0;
    height: 100vh;
    position: sticky;
    overflow-y: auto;

    /* Right Border */
    border-right: 1px solid var(--border-color);
    background-color: var(--bg-color);
  }

  .sidebar-section{
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 10px;
    margin: 1.25rem;
  }

  .sidebar > section:last-of-type {
    border-bottom: none;
  }

  .sidebar-toggles{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .home-link{
    text-decoration: none;
    color: var(--text-main);
  }

  .sidebar-nav-links{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }

  .sidebar-nav-links a{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: flex;
    align-items: center;
    color: var(--text-main);
  }

  .sidebar-nav-icon{
    margin-right: 10px;
    border: none;
    width: 32px;
    height: 32px;
  }

  .sidebar-connection-links{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
  }

  .sidebar-connection-links a{
    color: var(--text-muted);
    padding-bottom: 10px;
  }

  .sidebar h4{
    margin: 0;
    font-size: 17px;
  }

  .accent-text{
    color: var(--retro-navy);
    display: block;
  }

  /* Hide on mobile */
  @media (max-width: 768px) {
    .sidebar {
      display: none;
    }
  }
</style>